@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="card">
    <div class="card-header bg-white">
        <div class="card-title mb-0">
            <h5 class="mb-0">
                JQuery Datatable pagination
            </h5>
        </div>
    </div>
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered rounded" style="width:100%;border-radius:10px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name (EN)</th>
                    <th>Name (MM)</th>
                    <th>Lat</th>
                    <th>Long</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name (EN)</th>
                    <th>Name (MM)</th>
                    <th>Lat</th>
                    <th>Long</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            ajax: '/api/datatables',
            columns: [
                { data: 'streetId' },
                { data: 'streetName' },
                { data: 'streetNameMm' },
                { data: 'lat' },
                { data: 'long' },
            ],
        });
    });
</script>